
ion-toolbar {
    color: white; 
    --color: white; 
}


.user-toolbar-actions {
    display: flex;
   
    justify-content: space-between;
    align-items: center;
    width: 100%; 

    span {
        
        color: white;
        font-weight: 500;
    }

   
    .user-buttons-group {
      display: flex;
      align-items: center;
    }
}


.action-card {
    height: 100%;
    text-align: center; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s;

    &:hover {
        transform: translateY(-3px); 
    }

    ion-card-title {
        font-size: 1.1em;
        font-weight: bold;
        padding-top: 10px;
    }

    ion-card-content {
        color: #555;
    }
}


.user-toolbar-actions ion-button[routerLink="/ajustes"] {
  
  ion-icon {
   
    color: var(--ion-color-primary-contrast, #ffffff) !important; 
   
    font-size: 1.6rem; 
  }


  margin-right: 4px;
}




.user-buttons-group ion-button[color="danger"] {
  
  font-size: 0.8rem;
  --padding-start: 10px;
  --padding-end: 10px;
  /* Opcional: reduce la altura si es necesario */
  /* height: 32px; */ 
}
