<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Dashboard de Pozos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false" [fullscreen]="true">
  
  <div class="layout-container">
    
    <div class="map-section"
         leaflet
         [leafletOptions]="options"
         [leafletLayers]="layers"
         (leafletMapReady)="onMapReady($event)">
    </div>

    <div class="list-section">
      
      <div class="list-content-scroll">
        
        <div *ngIf="criticalWells.length > 0 || warningWells.length > 0" class="alert-card">
          <div class="alert-icon-wrapper">
             <ion-icon name="warning" color="danger"></ion-icon>
          </div>
          <div class="alert-text">
             <h4>Atención Requerida</h4>
             
             <p *ngIf="criticalWells.length > 0">
               <strong class="danger-text">Críticos:</strong> {{ criticalWells.join(', ') }}.
             </p>
             
             <p *ngIf="warningWells.length > 0">
               <strong class="warning-text">Revisar:</strong> {{ warningWells.join(', ') }}.
             </p>
          </div>
        </div>

        <div class="list-header">
          <h3>Estado Operativo</h3>
          <span class="badge">{{ pozos.length }} Pozos</span>
        </div>

        <div *ngIf="pozos.length === 0" class="empty-state">
          <p>No hay pozos registrados.</p>
        </div>

        <div *ngFor="let pozo of pozos" class="pozo-item">
          
          <div class="icon-box" [ngClass]="getEstado(pozo)">
             <ion-icon [name]="getIcon(pozo)"></ion-icon>
          </div>
          
          <div class="info-box">
            <h2>{{ pozo.nombre }}</h2>
            <p [class]="'status-text ' + getEstado(pozo)">
              {{ getStatusText(pozo) }}
            </p>
          </div>

          <ion-button 
            *ngIf="getEstado(pozo) === 'bajo' || getEstado(pozo) === 'medio'"
            fill="clear" 
            class="alert-btn" 
            (click)="enviarAlertaInteligente(pozo)">
            <ion-icon slot="icon-only" name="paper-plane-outline"></ion-icon>
          </ion-button>

          <ion-toggle color="success" [checked]="pozo.activo" mode="ios"></ion-toggle>
        </div>
        
        <div style="height: 50px;"></div>
      </div>
    </div>

  </div>

</ion-content>