<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Registro de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-page" fullscreen>
  <div class="login-wrapper">
    <div class="login-card">
      <h2 class="ion-text-center">Crear Cuenta</h2>
      
      <form (ngSubmit)="registrarUsuario()" #registroForm="ngForm" novalidate>
        
        <ion-item class="rounded-item">
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input 
            type="email" 
            inputmode="email" 
            [(ngModel)]="email" 
            name="email" 
            required
            email  clear-input="true">
          </ion-input>
        </ion-item>
        
        <ion-item class="rounded-item">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="text" [(ngModel)]="usuario" name="usuario" required></ion-input>
        </ion-item>

        <ion-item class="rounded-item">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="contrasena" name="contrasena" required></ion-input>
        </ion-item>

        <ion-item class="rounded-item">
          <ion-icon name="lock-open-outline" slot="start"></ion-icon>
          <ion-label position="floating">Confirmar contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="confirmarcontrasena" name="confirmarcontrasena" required></ion-input>
        </ion-item>

        <ion-button 
          expand="block" 
          type="submit" 
          [disabled]="loading || registroForm.invalid" 
          class="ion-margin-top" 
          color="primary">
          {{ loading ? 'Registrando...' : 'Registrarse' }}
        </ion-button>

        <div class="register ion-text-center ion-padding-top">
          <p>
            ¿Ya tienes cuenta? <a role="button" (click)="goToLogin()">Iniciar Sesión</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</ion-content>