<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-page" fullscreen>
  <div class="login-wrapper">
    <div class="login-card">
      <h2>Registro</h2>
      <form (ngSubmit)="login()" novalidate>
        <ion-item class="rounded-item">
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="text" [(ngModel)]="usuario" name="usuario" required></ion-input>
        </ion-item>

        <ion-item class="rounded-item">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="contrasena" name="contrasena" required></ion-input>
        </ion-item>

        <ion-item class="rounded-item">
          <ion-label position="floating">Confirmar contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="confirmarcontrasena" name="confirmarcontrasena" required></ion-input>
        </ion-item>

        <ion-button expand="block" type="submit" [disabled]="loading || !usuario || !contrasena || !confirmarcontrasena" class="btn-primary btn-dark">
          {{ loading ? 'Ingresando...' : 'Registrarse' }}
        </ion-button>

        <div class="register">
          <p>
            ¿tienes cuenta? <a role="button" (click)="goToLogin()">Iniciar Sesion</a></p>
        </div>
      </form>
    </div>
  </div>
</ion-content>
