<div class="bg-image"></div>

<ion-content [fullscreen]="true" class="transparent-content">
  <div class="login-container">
    
    <div class="login-card">
      <div class="header-text">
        <h1>Bienvenido</h1>
        <p>Ingresa a tu cuenta de monitoreo</p>
      </div>

      <form (ngSubmit)="login()" #loginForm="ngForm" novalidate>
        
        <div class="input-wrapper">
          <div class="input-container" [class.error-border]="emailField.invalid && emailField.touched">
             <ion-item lines="none" class="transparent-item">
                <ion-icon name="mail-outline" slot="start"></ion-icon>
                <ion-input 
                  placeholder="Correo electrónico"
                  type="email"
                  [(ngModel)]="usuario"
                  name="usuario"
                  #emailField="ngModel"
                  required
                  email>
                </ion-input>
             </ion-item>
          </div>
          
          <div *ngIf="emailField.invalid && emailField.touched" class="error-msg">
            <ion-icon name="alert-circle-outline"></ion-icon>
            <span>Correo inválido</span>
          </div>
        </div>

        <div class="input-wrapper">
          <div class="input-container" [class.error-border]="contrasenaField.invalid && contrasenaField.touched">
             <ion-item lines="none" class="transparent-item">
                <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
                <ion-input 
                  placeholder="Contraseña"
                  type="password"
                  [(ngModel)]="contrasena"
                  name="contrasena"
                  #contrasenaField="ngModel"
                  required
                  minlength="8">
                </ion-input>
             </ion-item>
          </div>
          
          <div *ngIf="contrasenaField.invalid && contrasenaField.touched" class="error-msg">
            <ion-icon name="alert-circle-outline"></ion-icon>
            <span>Mínimo 8 caracteres</span>
          </div>
        </div>

        <ion-button expand="block" type="submit" [disabled]="loading || loginForm.invalid" class="login-btn">
          {{ loading ? 'Ingresando...' : 'INGRESAR' }}
        </ion-button>

        <div class="footer-link">
          <p>¿No tienes cuenta? <a (click)="goRegister()">Regístrate aquí</a></p>
        </div>

      </form>
    </div>
  </div>
</ion-content>