ion-content {
    --background: #f8f8f8;
}


ion-card {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    margin-bottom: 25px;
    
    ion-card-title {
        color: var(--ion-color-primary);
        font-weight: 700;
        padding-top: 15px;
        font-size: 1.3em;
    }
}


ion-item[fill="outline"] {
    margin-bottom: 15px; 
    border-radius: 8px;
    --background: white;
    
    
    --padding-start: 16px;
    --inner-padding-end: 16px;
    
    
    --border-color: #ddd; 
    
    
    --border-color-focused: var(--ion-color-primary);
    
    ion-label {
        color: var(--ion-color-medium);
        font-weight: 500;
        
        padding-top: 5px; 
    }
    
    ion-input {
       
        --padding-top: 5px;
        --padding-bottom: 10px;
        z-index: 2; 
    }
}


ion-select {
    --placeholder-color: var(--ion-color-medium);
    --placeholder-opacity: 0.8;
}


ion-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
}


ion-button[type="submit"] {
    height: 52px;
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}