.ajustes-page {
  --background: #f4f6f8; 
}

ion-card {
  margin: 16px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

ion-card-title {
  font-size: 1.2rem;
  font-weight: 600;
}

ion-card-subtitle {
  font-size: 0.9rem;
  color: var(--ion-color-medium-shade);
}

ion-item {
  --padding-start: 0;
}


.config-especifica-list {
  
  border-radius: 8px;
  margin-top: 10px;
}

ion-toast.safe-area-toast {
  --offset-top: var(--ion-safe-area-top, 0px);
}